.login-background {
  background-color: #FFFFFF;
  height: 100vh;
}

.raleway-font {
  font-family: 'Raleway, sans-serif';
}

.login-overlay {
  background-color: #FFFFFF;
}

.logo-image {
  max-height: 200px;
  max-width: 200px;
}

.form-width {
  max-width: 200px;
}
